## OS and IDEs
testbox
.DS_Store
.settings
settings.xml
.vscode
.project
WEB-INF

# Dependencies
coldbox/*
testbox
modules/*

# Engines
.engine/**
.env

# NPM Dependencies
**/node_modules/*

## Builds (DocBox-specific)
*.iml
tests/output/*
tests/tmp/
tests/node_modules
build/build.number
artifacts/*
build-docbox/*
tests/DocBox-APIDocs